<!doctype html>
<html id="bg-color" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
<h1>Hell Labs Inc.</h1>
    <h2>The leader in sapient-Celestial relationships and interdimensional research.</h2>
</main>
<h3>STATEMENT OF UNREALITY</h3>
<p>Hell Labs Inc does not operate in your physical reality. All human or otherwise sapient soul offered through the application process will not be physically offered to Hell. Hell Labs Inc should be considered as nothing more than a training exercise to better see human 'grifts'.</p>
<p>For further questions, please contact Samuel Martinez of Plot Bottle Productions at [INSERT HERE], who maintains this website freely and of his own will.</p>
</body>
</html>